.main-field {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 220px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn {
	color: rgb(235, 196, 196);
	background: linear-gradient(45deg, rgb(2, 2, 104), rgb(53, 53, 155));
	width: 70px;
	height: 70px;
	font-size: 40px;
	border-radius: 6px;
	font-weight: bold;
}

.btn:hover,
.btn:active,
.btn:focus {
	background: rgb(5, 109, 112);
	cursor: pointer;
}
