.main-field {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 220px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn {
	color: rgb(8, 37, 37);
	background-color: chocolate;
	width: 70px;
	height: 70px;
	font-size: 40px;
	font-weight: bold;
}

.btn:hover,
.btn:active,
.btn:focus {
	background-color: rgb(218, 142, 88);
}
